.combo-list {

  display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
margin-left: 130px;
    border-radius: 8px;

    padding: 20px;
}
.thongtincombo{
    margin-top: 0px;
    border-radius: 10px;
    width: 700px;
    border: 1px solid #ddd;
    
}
.combo-header {
    font-family: "Cerebri Sans, sans-serif";
    height: 50px;
    border-radius: 10px 10px 0 0;
    display: grid;
    grid-template-columns: 2.7fr 1fr 1fr;
    font-weight: bold;
    padding: 10px 0;
    border: 1px solid #ddd ;
    text-transform: uppercase;
    color: #95aac9;
    background-color:#edf2f9;
}
.combo-header .item{
    line-height: 27px;
    margin-left: 20px;
}

.combo-item {
    font-family: "Cerebri Sans, sans-serif";
    margin-left: 15px;
    width: 650px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

.combo-info {
    display: flex;
    flex-direction: column;
}

.combo-name {
 font-weight: 550;
    color: #12263f;
 padding-bottom: 5px;
}

.combo-description {
    font-size: 15px;
    color: #95aac9;
}

.combo-price {
    font-weight: bold;
    color: #333;
    text-align: center;
   
   
}

.combo-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}
.combo-quantity .iconcong{
    border: 1px solid #e3ebf6;
    width: 25px;
    height: 25px;
}
.combo-quantity button {
    width: 30px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: #333;
}



.combo-quantity span {
    margin: 0 10px;
    font-size: 16px;
    width: 20px;
    text-align: center;
}
.box-thongtinphim{

width: 100px;
margin-left: 50px;
}
.price-box{
    width: 400px;
}
.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 430px;
  }
  .back-btn2{
    margin-left: 30px;
    height: 37px;
    width: 100px ;
    
  }
  .back-btn2, .continue-btn2 {
 
    padding: 10px 10px;
    font-size: 1em;
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    
  }
  
  
  .continue-btn2 {
    
    border: none;
    width: 200px;
    background: #6E849B;
    color: white;
    
  }