.combo-list {

  display: flex;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;

    border-radius: 8px;
 
    padding: 20px;
}
.thongtincombo{
    margin-top: 20px;
    border-radius: 10px;
    width: 600px;
    border: 1px solid #ddd;
    
}
.combo-header {
    font-family: "Cerebri Sans, sans-serif";
    height: 50px;
    border-radius: 10px 10px 0 0;
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr;
    font-weight: bold;
    padding: 10px 0;
    border: 1px solid #ddd ;
    text-transform: uppercase;
    color: rgb(149, 170, 201);
    background-color:#edf2f9;
}
.combo-header .item{
    margin-left: 20px;
}

.combo-item {
    font-family: "Cerebri Sans, sans-serif";
    margin-left: 15px;
    width: 500px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

.combo-info {
    display: flex;
    flex-direction: column;
}

.combo-name {
 font-weight: 550;
    color: #333;
}

.combo-description {
    font-size: 12px;
    color: #777;
}

.combo-price {
    font-weight: bold;
    color: #333;
    text-align: center;
}

.combo-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
}

.combo-quantity button {
    width: 30px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: #333;
}



.combo-quantity span {
    margin: 0 10px;
    font-size: 16px;
    width: 20px;
    text-align: center;
}
.box-thongtinphim{

width: 300px;
margin-left: 50px;
}
.price-box{
    width: 400px;
}
