.movies-dashboard {
    padding: 30px;
    background-color: rgb(229, 240, 242); /* Nền giống UserDashboard */
    min-height: 170vh;
    color: #262626;
    font-family: 'Roboto', sans-serif;
}

.movies-dashboard h2 {
    margin-bottom: 20px;
    font-size: 1.75rem;
    color: #262626;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

.actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.add-movie-btn {
    padding: 10px 20px;
    background-color: #27ae60;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
}

.add-movie-btn:hover {
    background-color: #2ecc71;
}

.table-container {
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 1300px;
    overflow-x: auto;
}

.movie-table {
    width: 100%;
    border-collapse: collapse;
}

.movie-table th {
    background-color: #e0f7fa;
    color: #00796b;
    text-align: center;
    font-weight: 600;
    padding: 10px;
}

.movie-table td {
    padding: 10px;
    background-color: #ffffff;
    color: #00796b;
    border-bottom: 1px solid #b2ebf2;
    text-align: center;
}

.movie-table tbody tr:hover {
    background-color: #b2ebf2;
    transition: background-color 0.3s ease;
}

.action-buttons {
    display: flex;
    justify-content: space-around;
}

.action-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    color: #00796b;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.view-btn:hover {
    color: #1abc9c;
}

.edit-btn:hover {
    color: #3498db;
}

.delete-btn:hover {
    color: #e74c3c;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0;
    font-size: 14px;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    color: #007bff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none !important;
    transition: color 0.3s, transform 0.3s;
}

.page-link:hover {
    color: #0056b3;
    transform: scale(1.05);
}

.active .page-link {
    color: #0056b3;
    cursor: default;
}

/* Responsive design for mobile */
@media (max-width: 768px) {
    .movie-table th, .movie-table td {
        font-size: 0.875rem;
        padding: 10px;
    }

    .add-movie-btn {
        width: 100%;
        font-size: 0.875rem;
    }

    .edit-btn, .delete-btn, .view-btn {
        padding: 8px 12px;
    }
}
