/* Container tổng thể */
.communityContainer {
  text-align: center;

}

/* Tiêu đề chính */
.heading {
  font-size: 28px; /* Giảm kích thước chữ */
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

/* Phụ đề */
.subheading {
  font-size: 16px;
  color: #6c757d;
  margin-bottom: 15px; /* Giảm khoảng cách */
}

/* Slider */
.slider {
  width: 80%;
 
  display: flex;
  flex-wrap: wrap; /* Cho phép các card xuống hàng khi không đủ không gian */
  
 
}

/* Card phim */
.movieCard {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: none; /* Xóa bóng đổ nếu không cần */
  flex: 0 0 auto; /* Giữ card ở kích thước cố định */
 
}

/* Hình ảnh phim */
.movieImage {
  width: 40%; /* Đảm bảo ảnh chiếm toàn bộ card */
  height: 170px; /* Giảm chiều cao ảnh */
  object-fit: cover; /* Giữ tỷ lệ ảnh */
  border-radius: 8px;
}

/* Hiệu ứng overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
}

.movieCard:hover .overlay {
  opacity: 1;
}

/* Icon trái tim */
.heartIcon {
  font-size: 18px; /* Giảm kích thước icon */
  color: white;
}

/* Tên phim */
.movieTitle {
  margin-top: 6px; /* Giảm khoảng cách */
  font-size: 12px; /* Giảm kích thước chữ */
  font-weight: 500;
  color: #212529;
  text-align: center;
}
