.status-pain {
    background-color:#28a745; /* Màu xanh lá cây cho trạng thái đã thanh toán */
    color: #fff; /* Màu chữ trắng */
    padding: 5px 10px;
    border-radius: 4px;
}
  
.status-confirmed {
    background-color: #007bff; /* Màu xanh dương cho trạng thái đã xác nhận */
    color: #fff; /* Màu chữ trắng */
    padding: 5px 10px;
    border-radius: 4px;
}
  
.status-pending {
    background-color: #ffc107; /* Màu vàng cho trạng thái đang chờ */
    color: #212529; /* Màu chữ đen */
    padding: 5px 10px;
    border-radius: 4px;
}
  
.status-default {
    background-color: #6c757d; /* Màu xám cho trạng thái mặc định */
    color: #fff; /* Màu chữ trắng */
    padding: 5px 10px;
    border-radius: 4px;
}
