/* Ví dụ CSS để điều chỉnh giao diện khi màn hình nhỏ (di động) */
@media (max-width: 580px) {
    .order-info {
      padding: 10px; /* Giảm padding */

      margin-left: 70px;
    }
    
    .order-info .title {
      font-size: 16px; /* Thay đổi kích thước tiêu đề cho màn hình nhỏ */
    }
  }
  