/* Container chính */
.cinemas-dashboard {
    padding: 30px;
    background: rgb(229, 240, 242); /* Nền xanh nhạt */
    min-height: 170vh;
    display: flex;
    flex-direction: column;
}

/* Định dạng tiêu đề */
.cinemas-dashboard h2 {
    margin-bottom: 20px;
    font-size: 1.75rem;
    color: #262626; /* Màu chữ tối */
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

/* Định dạng container bảng */
.table-container {
    margin-top: 30px;
    background-color: #ffffff; /* Nền trắng cho bảng */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 1300px;
    overflow-x: auto;
}

/* Định dạng bảng */
.cinema-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    color: #006064; /* Màu xanh đậm */
}

/* Định dạng tiêu đề bảng */
.cinema-table th {
    background-color: #e0f7fa; /* Nền xanh nhạt */
    color: #00796b; /* Màu chữ xanh đậm */
    text-align: center;
    font-weight: 600;
    padding: 10px;
}

/* Định dạng nội dung bảng */
.cinema-table td {
    padding: 10px;
    background-color: #ffffff; /* Nền trắng */
    color: #00796b; /* Màu chữ xanh đậm */
    border-bottom: 1px solid #b2ebf2; /* Viền xanh nhạt */
    text-align: center;
}

/* Hiệu ứng hover cho hàng */
.cinema-table tbody tr:hover {
    background-color: #b2ebf2; /* Nền xanh nhạt khi hover */
    transition: background-color 0.3s ease;
}

/* Phân trang */
.pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    color: #007bff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

.page-link:hover {
    color: #0056b3;
    transform: scale(1.05);
}

.active .page-link {
    color: #0056b3;
    cursor: default;
}
